<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width:
  600px; font-size: 18px; line-height: 24px; }
</style>

<div class='message-content'>
  <p>Olá {{name}}!</p>
  <p>Sua senha foi redefinida com sucesso.</p>
  <p>Para fazer login, clique no link abaixo:</p>
  <p>
    <a href='{{link}}'>Fazer login</a>
  </p>
  <p>Obrigado!</p>
  <p>Equipe ERent</p>
</div>